* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    padding: .2em 0 .2em;
    font-size: 3.5em;
}

a {
    display: block;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: none;
    background-color: rgb(56, 206, 243);
}

a:visited {
    color: black;
}

.nav {
    background-color: rgb(234, 250, 255);
    float: left;
    padding: 1em 0;
    font-size: 1.2em;
}

li a {
    display: inline;
    width: 25%;
    text-align: center;
}

h2 {
    margin: 3em 0 1em;
    text-align: center;
    color: black;
    font-size: 2em;
}

img {
    display: block;
    width: 80%;
    margin: auto;
}

.inBox {
    background-color: linen;
    width: 70%;
    margin: auto;
}

#photosTop {
    padding-top: 1em;
}

#photosBottom {
    padding-bottom: 5em;
}

#banner {
    width: 100%;
}

.article {
    width: 70%;
    margin: auto;
    text-align: center;
    list-style-position: inside;
}

li {
    list-style-type: none;
    margin-top: 1em;
}

footer {
    text-align: center;
    margin-top: 10em;
}

#help {
    line-height: 2em;
}
